@using WebUI.Areas.Admin.Models.ViewModels.ReferanceGroup_
@model ReferanceGroupCreateViewModel
@{
    Layout = null;
}

<form asp-controller="ReferanceGroup" asp-action="Create" method="post">
    <div class="row row-gap-4 m-2">
        <div class="col-md-6">
            <label asp-for="CreateModel.Name" class="form-label">
                İsim
            </label>
            <input asp-for="CreateModel.Name" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.Name" class="form_validation_feedback"></span>
        </div>
    </div>
</form>
