@using WebUI.Areas.Admin.Models.ViewModels.Product_
@model ProductUpdateViewModel
@{
    Layout = null;
}

<form asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data" id="formUpdateProduct">
    <div class="row row-gap-4 m-2">
        <input asp-for="UpdateModel.Id" type="hidden" />
        <input asp-for="UpdateModel.Image" type="hidden" />
        <div class="col-md-6">
            <label asp-for="UpdateModel.ProductGroupId" class="form-label">
                Ürün Grubu
            </label>
            <select asp-for="UpdateModel.ProductGroupId" asp-items="Model.ProductGroupList" class="autoInitSelect2 form-select">
                <option></option>
            </select>
            <span asp-validation-for="UpdateModel.ProductGroupId" class="form_validation_feedback"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="UpdateModel.Name" class="form-label">
                İsim
            </label>
            <input asp-for="UpdateModel.Name" type="text" class="form-control" />
            <span asp-validation-for="UpdateModel.Name" class="form_validation_feedback"></span>
        </div>
        <div class="col-sm-10">
            <label asp-for="UpdateModel.FriendlyUrl" class="form-label">
                Url
            </label>
            <input asp-for="UpdateModel.FriendlyUrl" type="text" class="form-control" />
            <span asp-validation-for="UpdateModel.FriendlyUrl" class="form_validation_feedback"></span>
        </div>
        <div class="col-sm-2">
            <label asp-for="UpdateModel.Priority" class="form-label">
                Sıra
            </label>
            <input asp-for="UpdateModel.Priority" type="number" class="form-control" />
            <span asp-validation-for="UpdateModel.Priority" class="form_validation_feedback"></span>
        </div>
        <div class="col-12">
            <label asp-for="UpdateModel.Description" class="form-label">
                Ürün Detay
            </label>
            <textarea asp-for="UpdateModel.Description" type="text" class="form-control" rows="5"></textarea>
            <span asp-validation-for="UpdateModel.Description" class="form_validation_feedback"></span>
        </div>
        <div class="col-12">
            <label asp-for="UpdateModel.ImageFile" class="form-label">
                Görsel (Opsiyonel)
            </label>
            <input asp-for="UpdateModel.ImageFile" type="file" class="form-control" accept="image/*" required />
            <span asp-validation-for="UpdateModel.ImageFile" class="form_validation_feedback"></span>
        </div>
        <div class="col-12 border-top mt-3 pt-2">
            <label class="form-label">
                Aktif Görsel
            </label>
            <div class="bg-white shadow-sm rounded-5" style="width: 200px; height:200px; ">
                <img src="@Model.UpdateModel.Image" style="width: 200px; height:200px; object-fit: contain;" />
            </div>
        </div>
    </div>
</form>
