<title>Express Bilgisayar | Otomasyon Cihazları</title>

<link rel="canonical" href="https://www.expressbilgisayar.com/" />

<meta name="description" content="Express Bilgisayar, otomasyon cihazları, ATM ddeme sistemleri,kiosk, Atm cihazları, kiosk çözümleri, network ve sunucu ürünleriyle işletmelere güvenilir teknoloji çözümleri sunar.">
<meta name="keywords" content="Express Bilgisayar, otomasyon cihazları, ATM ödeme sistemleri, kiosk, Atm cihazları, kiosk üretimi, network çözümleri, sunucu sistemleri, min pc, network güvenliği, ödeme sistemleri">

<meta property="og:title" content="Express Bilgisayar | Otomasyon Cihazları" />
<meta property="og:description" content="Express Bilgisayar, ATM ödeme sistemleri, kiosk, network ve sunucu teknoloji çözümleri sunar." />
<meta property="og:image" content="https://www.expressbilgisayar.com/images/og-image.jpg" />
<meta property="og:url" content="https://www.expressbilgisayar.com/" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="tr_TR" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Express Bilgisayar | Otomasyon Cihazları" />
<meta name="twitter:description" content="Express Bilgisayar, teknoloji otomasyon çözümleri sunar." />
<meta name="twitter:image" content="https://www.expressbilgisayar.com/images/og-image.jpg" />

<meta name="robots" content="index, follow" />

<link href="~/common/assets/img/logo/express.png" rel="icon">
<link href="~/common/assets/img/logo/express.png" rel="apple-touch-icon">
<script type="importmap"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css" integrity="sha512-cn16Qw8mzTBKpu08X0fwhTSv02kK/FojjNLz0bwp2xJ4H+yalwzXKFw/5cLzuBZCxGWIA+95X4skzvo8STNtSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<!-- Vendor CSS Files -->
<link href="~/common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/common/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/common/vendor/aos/aos.css" rel="stylesheet">
<link href="~/common/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/common/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


<!-- Main CSS File -->
<link href="~/common/css/main.css" rel="stylesheet">